<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>12</title>

    <script src="../resources/angular.min.js"></script>
    <script src="scripts/module.js"></script>
    <script src="scripts/controllers/main.js"></script>

    <link href="assets/css/main.css" rel="stylesheet"/>
</head>
<body ng-controller="main">
    <div id="topArticle">
        <button ng-click="scrollTo('bottomArticle')">bottom</button>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
            <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
            <br/>at perspiciatis!
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
            <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
            <br/>at perspiciatis!
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
            <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
            <br/>at perspiciatis!
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
            <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
            <br/>at perspiciatis!
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
            <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
            <br/>at perspiciatis!
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
            <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
            <br/>at perspiciatis!
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
            <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
            <br/>at perspiciatis!
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
            <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
            <br/>at perspiciatis!
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
            <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
            <br/>at perspiciatis!
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
            <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
            <br/>at perspiciatis!
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
            <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
            <br/>at perspiciatis!
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
            <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
            <br/>at perspiciatis!
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
            <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
            <br/>at perspiciatis!
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
            <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
            <br/>at perspiciatis!
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
            <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
            <br/>at perspiciatis!
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
            <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
            <br/>at perspiciatis!
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
            <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
            <br/>at perspiciatis!
        </p>
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
            <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
            <br/>at perspiciatis!
        </p>
    </div>
    <hr/>
    <div id="bottomArticle">
            <button ng-click="scrollTo('topArticle')">top</button>
            <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
                <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
                <br/>at perspiciatis!
            </p>
            <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
                <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
                <br/>at perspiciatis!
            </p>
            <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
                <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
                <br/>at perspiciatis!
            </p>
            <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
                <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
                <br/>at perspiciatis!
            </p>
            <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
                <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
                <br/>at perspiciatis!
            </p>
            <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
                <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
                <br/>at perspiciatis!
            </p>
            <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
                <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
                <br/>at perspiciatis!
            </p>
            <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
                <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
                <br/>at perspiciatis!
            </p>
            <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
                <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
                <br/>at perspiciatis!
            </p>
            <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
                <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
                <br/>at perspiciatis!
            </p>
            <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
                <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
                <br/>at perspiciatis!
            </p>
            <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
                <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
                <br/>at perspiciatis!
            </p>
            <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
                <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
                <br/>at perspiciatis!
            </p>
            <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
                <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
                <br/>at perspiciatis!
            </p>
            <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
                <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
                <br/>at perspiciatis!
            </p>
            <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
                <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
                <br/>at perspiciatis!
            </p>
            <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                <br/>Hic dicta facere quo, harum excepturi impedit minus beatae veniam quas,
                <br/> nihil nesciunt debitis quaerat ipsa, omnis reprehenderit numquam cumque 
                <br/>at perspiciatis!
            </p>
        
    </div>
</body>
</html>